<div class="row m-5 animated fadeIn table-responsive">
  <div class="row">
    <div class="col">
      <table class="table table-primary table-hover table-bordered table-striped">

        <thead>
          <tr>
            <th class="text-center" >Foto</th>
            <th class="text-center">Nombres Y Apellidos</th>
            <th class="text-center">Cargo</th>
            <th class="text-center">Usuario</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Cambiar Estado</th>
            <th class="text-center">Detalles</th>
            <th class="text-center">Editar usuario</th>
          </tr>
        </thead>



        <tbody *ngFor ="let usuario of usuarios">
          <tr>
            <td>
              <img class="img-thumb" [src]="usuario.foto" alt="">
            </td>
            <td>{{usuario.nombre}} {{usuario.apellido}}</td>
            <td>{{usuario.tipoUsuarioId}}</td>
            <td>{{usuario.username}}</td>
            <td *ngIf="usuario.usuariodelete">Deshabilitado</td>
            <td *ngIf="usuario.usuariodelete" class="text-center" >
              <button class="btn btn-success " (click)="deleteUsuario(usuario.usuarioId)">Habilitar</button>
            </td>

            <td *ngIf="!usuario.usuariodelete">Habilitado</td>
            <td *ngIf="!usuario.usuariodelete" class="text-center">
              <button class="btn btn-danger" (click)="cambiarEstadoUsuario(usuario.usuarioId, usuario.usuariodelete)">Deshabilitar</button>
            </td>

            <td>
              <button class="btn btn-dark " (click)="detalles(usuario.usuarioId)">Detalles</button>
            </td>

            <td class="text-center">
              <button (click)=" editarUsuario(usuario.usuarioId)" class="btn btn-primary ">Editar</button>
            </td>
          </tr>

        </tbody>

      </table>

      <app-loading *ngIf="loading"></app-loading>

    </div>
  </div>
</div>
